cairosvg==2.7.1
colorlog==6.8.2
imageio==2.34.1
keyboard==0.13.5
matplotlib==3.8.2
numpy==1.26.4
opencv_contrib_python==4.9.0.80
opencv_python==4.9.0.80
Pillow==10.3.0
pygame==2.5.2
PyQt5==5.15.10
PyQt5_sip==12.13.0
pyserial==3.5
PySide6==6.6.2
PySide6==6.7.0
PySide6_Addons==6.6.2
PySide6_Essentials==6.6.2
pywin32==306
scipy==1.13.0
tensorboard==2.16.2
torch==2.2.0+cu121
torchvision==0.17.0+cu121
tqdm==4.66.2
